<html>
  <head>
      <title>Budget Calculator</title>
       <link href="static/css/style.css" rel="stylesheet">
    <!-- import bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body class="index-page">
   <!---navigation bar --->
   <nav class="navbar-calc">
     <a class="navbar-calc" href="/index">Home (you are here)</a>
     <a class="navbar-calc" href="/calc">Calculator</a>
     <a class="navbar-calc" href="/socialgood">Social Good</a>
   </nav>
   <!-- end of nav bar -->

    <br>
    <br>
    
    <h1 id="first_title">Budget Calculator</h1>

    <h2>
      Welcome to our Budget Calculator: your ultimate financial companion! Are you
      ready to take charge of your finances and achieve your money goals? Our
      intuitive and user-friendly budget calculator is here to empower you on your
      journey to financial freedom.
    </h2>
    
    <br>
    
    <h2>
      Whether you're planning for a big purchase, saving for a dream vacation, or
      simply aiming to manage your expenses more effectively, our budget calculator
      is tailored to suit your needs while reminding you to consider social good in
      your finances.
    </h2>
      
    <br>
    
    <h2>
      Say goodbye to financial stress and hello to financial empowerment! Start
      budgeting smarter today!
    </h2>

      
    <div>
      <a href="/calc" class="Button" id="index-button"><span>Get Started!</span></a>
    </div>

    <br>
    <br>
 
    <div class="footer">
      ©2023 Faith, Jerson, Nooraan, Youssra. All Rights Reserved.
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"> </script>

  </body>
</html>
